/* Styles for desktops and larger screens */
#root {
  min-width: 30vw;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  color: white;
}

/* Styles for tablets and smaller screens */
@media (max-width: 1024px) {
  #root {
    /* Tablet-specific styles here */
    min-width: 70%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    color: white;
  }
}

/* Styles for smartphones and smaller screens */
@media (max-width: 600px) {
  #root {
    /* Smartphone-specific styles here */
    min-width: 90%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    color: white;
  }
}